# T23_G8 - 00 - Assignment

* Create assignment tree. 
* Download the required datafiles and documentation.
* Generate a zip file of your assignment files to upload to Moodle.

There is no need to edit this notebook, you should just run all cells to setup assignment tree at start and again at end to generate the archive to upload to [Moodle](https://moodle.wit.ie/mod/assign/view.php?id=4469268) when done.

## Setup

In [ ]:
import os
import glob
from zipfile import ZipFile

## Assignment Setup

In [2]:
for d in ['orig/SPSS', 'orig/extra', 'orig/docs', 'data', 'app']: 
    os.makedirs(d, exist_ok=True)

In [ ]:
FILES = [
    'docs/T23_User_Guide_International_Database.pdf',
    'docs/T23_G8_Codebook.xlsx',
    'extra/TIMSS_2023_National_Report_Ireland.pdf',
    'T23_G8_-_01_-_Import.ipynb',
] + [
    f'SPSS/{f}irlm8.sav' for f in ['bcg','bsa','bsg','bsp','bsr','bst','btm','bts']
]

In [4]:
for filename in FILES:
    source = f"https://setu-datamining2.github.io/live/resources/TIMSS/{filename}"
    target = f"orig/{filename}"
    if not os.path.isfile(target):
        print (f"Downloading remote file {filename}", sep="")
        import urllib.request
        urllib.request.urlretrieve(source, target)
    else:
        print(f"Using local copy of {filename}")

Downloading remote file docs/T23_User_Guide_International_Database.pdf
Downloading remote file docs/T23_G8_Codebook.xlsx
Downloading remote file extra/TIMSS_2023_National_Report_Ireland.pdf
Downloading remote file T23_G8_-_01_-_Import.ipynb
Downloading remote file SPSS/bcgirlm8.sav
Downloading remote file SPSS/bsairlm8.sav
Downloading remote file SPSS/bsgirlm8.sav
Downloading remote file SPSS/bspirlm8.sav
Downloading remote file SPSS/bsrirlm8.sav
Downloading remote file SPSS/bstirlm8.sav
Downloading remote file SPSS/btmirlm8.sav
Downloading remote file SPSS/btsirlm8.sav

In [ ]:
target = 'app/streamlit_app.py' 
content = """
import streamlit as st
st.header('TIMSS Dataset Viewer')

st.write('OK rest is up to you ...')

"""

if not os.path.isfile(target):
    with open(target, 'wt') as f:
        f.write(content)

## Load Data

In [20]:
import pandas as pd
import pyreadstat

bsg_df, bsg_meta = pyreadstat.read_sav("orig/SPSS/bsgirlm8.sav")

bsa_df, bsa_meta = pyreadstat.read_sav("orig/SPSS/bsairlm8.sav")

bsg_df.head()
# bsa_df.head()

,CTY,IDCNTRY,IDPOP,IDGRADER,IDGRADE,ITASSESS,IDBOOK,IDSCHOOL,IDCLASS,IDSTUD,...,BSDMLOWP,BSDSLOWP,BSDMZERP,BSDSZERP,BSDMCORP,BSDSCORP,BSDMMISP,BSDSMISP,VERSION,SCOPE
0,IRL,372.0,2.0,2.0,8.0,1.0,1.0,5001.0,500101.0,50010101.0,...,2.0,2.0,2.0,2.0,72.72727,72.72727,0.00000,0.00000,4.0,1.0
1,IRL,372.0,2.0,2.0,8.0,1.0,9.0,5001.0,500101.0,50010102.0,...,2.0,2.0,2.0,2.0,60.71429,78.78788,0.00000,0.00000,4.0,1.0
2,IRL,372.0,2.0,2.0,8.0,1.0,2.0,5001.0,500101.0,50010103.0,...,2.0,2.0,2.0,2.0,16.12903,35.29412,0.00000,0.00000,4.0,1.0
3,IRL,372.0,2.0,2.0,8.0,1.0,10.0,5001.0,500101.0,50010104.0,...,2.0,2.0,2.0,2.0,37.93103,27.27273,7.14286,0.00000,4.0,1.0
4,IRL,372.0,2.0,2.0,8.0,1.0,3.0,5001.0,500101.0,50010105.0,...,2.0,2.0,2.0,2.0,32.25806,54.83871,6.66667,6.66667,4.0,1.0

## Deliverable

In [6]:
target = f'TIMSS_Dashboard.zip'

FILES_TO_UPLOAD = [
    file for file in glob.iglob('T23_G8_-*.ipynb')
] + [
    file for file in glob.iglob('app/**',recursive=True) if '__pycache__' not in file
]

print(f"Creating zip ... {target}")

with ZipFile(target,'w') as zip:
    for file in FILES_TO_UPLOAD:
        zip.write(file)

Creating zip ... TIMSS_Dashboard.zip